# bleeding edge scapy with our dhcp6 patches
-e git://github.com/secdev/scapy/@b7e30eb1d9b2a65bd69f45147a4e9f5d29f03267#egg=scapy

# required by scapy
pcapy

# required by forge
PyCryptodome
fabric3
requests
pytest
netifaces
